@import 'reset';
@import 'bases';
@import 'media';

.btn {
  padding: 1.3rem;
  font-family: 'Poppins', sans-serif;
  &-primary {
    border: 0.2rem solid #333;
    border-radius: 0.3rem;
  }
  &:hover {
    transform: scale(1.05);
    transition: transform 300ms;
    box-shadow: 0.5rem 0.7rem 2rem -1rem #eee;
  }
}

input {
  padding: 0.5rem;
  border: 1px solid #333;
  border-radius: 0.3rem;
}

.input-group {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  padding: 2rem;
  background-color: #fad390;
  nav {
    font-size: 1.8rem;
    margin: 0 auto;
    width: 80%;
    @include large {
      width: 90%;
    }
    @include medium {
      width: 95%;
    }
    height: 100%;
    display: flex;
    flex-direction: column;

    @include medium {
      flex-direction: row;
      align-items: center;
    }
    > div {
      h1 {
        text-align: center;
        font-size: 2.5rem;
        @include medium {
          text-align: left;
          font-size: 1.8rem;
        }
        @include large {
          font-size: 2.5rem;
        }
      }
    }
    .list {
      margin: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      @include medium {
        flex-direction: row;
      }

      a {
        white-space: nowrap;
        margin-right: 1.5rem;
        padding: 1rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// MAIN
main {
  h3 {
    text-align: center;
  }
  section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include medium {
      grid-template-columns: repeat(2, 1fr);
    }
    @include large {
      grid-template-columns: repeat(3, 1fr);
    }
    article {
      margin: 2rem;
      padding: 2rem;
      border: 0.2rem solid #333;
      border-radius: 0.3rem;
    }
  }
}
