@import 'reset';
@import 'bases';

.btn {
  padding: 1.3rem; 
  font-family: 'Poppins', sans-serif;
  &-primary {
    border: 0.2rem solid #333;
    border-radius: 0.3rem;
  }
  &:hover {
    transform: scale(1.05);
    transition: transform 300ms;
    box-shadow: 0.5rem 0.7rem 2rem -1rem #eee;
  }
}

/* HEADER */
header {
  padding: 2rem;
  background-color: #fad390;
  nav {
    font-size: 1.8rem;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1 {
      text-align: center;
      font-size: 2.7rem;
    }
    ul {
      margin: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      li {
        margin: 0.5rem;
        padding: 1rem;
        a {
          padding: 1rem;
          width: 100%;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// MAIN
main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  article {
    margin: 2rem;
    padding: 2rem;
    border: 0.2rem solid #333;
    border-radius: 0.3rem;
  }
}
